<div class="container mt-5">
    <form>
        <div class="form-group row">
            <label for="numeroSerie" class="col-sm-2 col-form-label">Número de Série</label>
            <div class="col-sm-10">
                <input type="number" ng-model="sorteio.numeroSerie" class="form-control form-control-sm" id="numeroSerie" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="dataSorteio" class="col-sm-2 col-form-label">Data Sorteio</label>
            <div class="col-sm-10">
                <input id="dataSorteio" type="date" ng-model="sorteio.dataSorteio" class="form-control form-control-sm"
                       ng-required="true">
            </div>
        </div>
        <div class="form-group row">
            <label for="cartela" class="col-sm-2 col-form-label">Cartela</label>
            <div class="col-sm-10">
                <select id="cartela" ng-model="sorteio.cartela" class="form-control form-control-sm" ng-required="true">
                    <option>Cartela 1</option>
                    <option>Cartela 1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="descricaoValidade">Descrição de Validade</label>
            <textarea class="form-control" id="descricaoValidade" ng-model="sorteio.descricaoValidade" rows="3"></textarea>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary" ng-click="imprimir()">Salvar</button>
        </div>
    </form>
    <div class="row mt-3 pt-3">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nº de Série</th>
                <th scope="col">Data do Sorteio</th>
                <th scope="col">Cartela</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="srt in sorteios">
                <td>{{srt.id}}</td>
                <td>{{srt.numeroSerie}}</td>
                <td>{{srt.dataSorteio}}</td>
                <td>{{srt.cartela.nome}}</td>
                <td>
                    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Editar</a>
                    <a href="#" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Deletar</a>
                    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Imprimir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>